  <div class="slider_wrap">
  <div class="flexslider">
    <ul class="slides">
      <li> <%= image_tag "52jita/slide_road.png"%> </li>
      <li> <%= image_tag "52jita/slide_hand.png"%> </li>
      <li> <%= image_tag "52jita/slide_guitar.png"%> </li>
    </ul>
  </div>
  <div class="promobox png">
    <h1>记录音乐生活，分享美妙心情</h1>
    <div class="button ">
      <a class="register png" href="/users/sign_up">立即注册</a>
      <div class="openlogin">
        <a href="/users/sign_in" onclick="javascript:sinaweiboLogin();" class="sina png" title="用新浪微博帐号登录">微博登录</a>
        <a href="/users/sign_in" onclick="javascript:qzoneLogin();" class="qq png" title="用QQ帐号登录">QQ登录</a>
      </div>
    </div>
  </div>
</div>
<div class="marketing">
  <div class="row-fluid">
    <div class="span4">
      <%= image_tag "52jita/black_guitar.png", :class => "marketing-img" %>
      <%= image_tag "52jita/music.png", :class => "marketing-img" %>
      <h2 style="margin-top:12px;">为你而生</h2>
      <p>是音乐迷，更是吉他爱好者，不是大明星，但爱背上吉他闯天涯。音符背后的苦与乐，你知我知吉他知。大力推广吉他文化。</p>
    </div>
    <div class="span4">
      <%= image_tag "52jita/guitar.png", :class => "marketing-img" %>
      <%= image_tag "52jita/music_alt.png", :class => "marketing-img" %>
      <h2>学习、乐趣</h2>
      <p>夜深人静，抱起吉他赶走寂寞。亲友相聚，美妙琴声勾起共同的回忆。旋律跳动，节奏跟上，悠扬的旋律让所有的付出都立刻变得有意义。</p>
    </div>
    <div class="span4">
      <%= image_tag "52jita/facebook128.png", :class => "marketing-img" %>
      <%= image_tag "52jita/twitter.png", :class => "marketing-img" %>
      <h2>分享、交友</h2>
      <p>将您的心得和作品分享在这里，通过新浪、腾讯、豆瓣等微博和SNS网站告诉您的朋友，共同的爱好将会成为您结交新朋友的最佳纽带。</p>
    </div>
  </div>
</div>

<div class="row-fluid">
  <div class="span12"><h1 id="thumbnails_title">hot online resource</h1> </div>
</div>

<div class="row-fluid">
  <div class="span12">
  <ul id="thumbnails">
    <li class="span4">
    <div class="thumbnail">
      <embed src="http://player.youku.com/player.php/sid/XMTAwNzgwMzA4/v.swf" allowFullScreen="true" quality="high" width="280" height="260" align="middle" allowScriptAccess="always" type="application/x-shockwave-flash"></embed>
      <div class="caption">
        <h3>坚强的理由 --大冲</h3>
        <p>总播放数:2,537,829</p>
        <p>视频信息: 吉他弹唱《坚强的理由》, 来自一位流浪歌手, 很有感觉!</p>
        <strong><a href="/episodes">喜欢？查看更多</a></strong>
      </div>
    </div>
    </li>
    <li class="span4">
    <div class="thumbnail">
      <embed src="http://player.youku.com/player.php/sid/XNDI3OTkyMTI4/v.swf" allowFullScreen="true" quality="high" width="280" height="260" align="middle" allowScriptAccess="always" type="application/x-shockwave-flash"></embed>
      <div class="caption">
        <h3>江南Style --PSY 朴载相</h3>
        <p>总播放数:10,739,557</p>
        <p>视频信息：2012年全球最为火爆的神曲，从韩国席卷亚洲，乃至整个世界!</p>
        <strong><a href="/episodes">喜欢？查看更多</a></strong>
      </div>
    </div>
    </li>
    <li class="span4">
    <div class="thumbnail">
      <embed src="http://player.youku.com/player.php/sid/XMjIyMjM4Mzc2/v.swf" allowFullScreen="true" quality="high" width="280" height="260" align="middle" allowScriptAccess="always"
        type="application/x-shockwave-flash">
        <div class="caption">
          <h3>做我老婆好不好 --徐誉滕</h3>
          <p>总播放数:456,020</p>
          <p>视频信息：要表白或是求婚? 想唱首歌给她? 这首歌会是一个不错的选择！</p>
          <strong><a href="/episodes">喜欢？查看更多</a></strong>
        </div>
      </div>
      </li>
    </ul>
    </div>
  </div>

  <%= raw SiteConfig.index_html %>

